<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--get actual device width-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Greetings{% endblock %}</title>

    {% load staticfiles %}

    <!--include jquery, jquery mobile, highcharts libraries, layout.css and layout.js-->

    <link rel="stylesheet"
        href="{% static "ncharts/csslib/ncharts.css" %}">

    <link rel="stylesheet" type="text/css"
        href="{% static "ncharts/css/bootstrap.min.css" %}"/>

    <!--
    href="{{STATIC_URL}}ncharts/css/bootstrap.min.css"
    -->

    <!--
    <link rel="stylesheet"
        href="{{ STATIC_URL }}ncharts/jquery_mobile/jquery.mobile-1.3.1.min.css"/>
    -->

    <!-- adding jslib/jquery.js results in some adornments:
        blue box around it all
        checkbox labels to left of box
        choose label before choose button
    -->
    <!-- Placed at the end of the document so pages load faster -->
    <!--
    <script type="text/javascript"
        src="{{ STATIC_URL }}ncharts/jslib/jquery.js">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    -->
    <!--
    <script src="{% static "ncharts/js/jquery-2.1.1.min.js" %}"></script>
    -->
    <script src="{% static "ncharts/js/jquery.js" %}"></script>
    <script src="{% static "ncharts/js/bootstrap.min.js" %}"></script>

    <!--
        src="{{ STATIC_URL }}ncharts/js/bootstrap.min.js"></script>
    -->

    <!--
        adding mobile stylesheet with this adds a bunch of adornments:
            huge buttons, date text fields
    <script type="text/javascript"
        src="{{ STATIC_URL }}ncharts/jquery_mobile/jquery.mobile-1.3.1.min.js">
    </script>
    -->

    <script type="text/javascript"
        src="{% static "ncharts/js/highcharts.js" %}"></script>
    </script>
    <!--
        src="{{ STATIC_URL }}ncharts/js/highcharts.js"
    -->

    <script type="text/javascript"
        src="{% static "ncharts/jslib/ncharts.js" %}">
    </script>
    <!--
        src="{{ STATIC_URL }}ncharts/jslib/ncharts.js">
    -->

    {% block head %}{% endblock %}

</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
