{% extends "ncharts/base.html" %}

{% block title %}{{ platform | escapejs }}{% endblock %}

{% block headline %}{{ platform | escapejs }}{% endblock %}

{% block content %}

<p>Projects of {{ platform }}</p>
{% if projects %}
    <ul>
    {% for project in projects %}
        <a class="btn btn-default" href="{% url 'ncharts:platformProject' platform.name project.name %}">{{ project }}</a>

    {% endfor %}
{% else %}
<p>No projects for platform {{ platform.name }}.</p>
{% endif %}

{% endblock %}
