{% extends "ncharts/base.html" %}

{% block title %}{{ project.name }} {{ project | escapejs }}{% endblock %}

{% block headline %}{{ project.name }} {{ project | escapejs }}{% endblock %}

{% block content %}

<p>Datasets for {{ project }}</p>
{% if datasets %}
    {% for dataset in datasets %}
        <a class="btn btn-default" href="{% url 'ncharts:dataset' project.name dataset.name %}">{{ dataset.name }}</a>
    {% endfor %}
{% else %}
    <p>No dataset for project {{ project.name }}.</p>
{% endif %}

{% if platforms %}
<p>Platforms for {{ project }}</p>
    {% for platform in platforms %}
        <a class="btn btn-default" href="{% url 'ncharts:platformProject' platform.name project.name %}">{{ platform.name }}</a>
    {% endfor %}
{% else %}
    <p>No platforms for {{ project }}.</p>
{% endif %}

{% endblock %}
