{% extends "ncharts/base.html" %}

{% block title %}{{ project.name }}{% endblock %}

{% block headline %}Project: {{ project }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Select a Dataset from {{ project.name }}</p>
            </div>
            <div class="panel-body">
            {% if datasets %}
                {% for dataset in datasets %}
                <a class="col-md-2" href="{% url 'ncharts:dataset' project.name dataset.name %}" data-toggle="tooltip" title="{{ dataset.long_name }}">{{ dataset.name }}</a>
                {% endfor %}
            {% else %}
                <p>No datasets for {{ project.name }}.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Platforms in {{ project.name }}</p>
            </div>
            <div class="panel-body">
            {% if platforms %}
                {% for platform in platforms %}
                <a class="col-md-2" href="{% url 'ncharts:platformProject' platform.name project.name %}" data-toggle="tooltip" title="{{ platform.long_name }}">{{ platform.name }}</a>
                {% endfor %}
            {% else %}
                <p>No platforms for {{ project.name }}.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
