{% extends "ncharts/base.html" %}

{% block title %}Projects{% endblock %}

{% block headline %}Projects{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Available Projects</div>
            <div class="panel-body">
                {% if projects %}
		<ul class="list-inline">
                    {% for project in projects %}
                    <li><a href="{% url 'ncharts:project' project.name %}" data-toggle="tooltip" title="{{ project.long_name }}">{{ project.name }}</a></li>
                    {% endfor %}
		</ul>
                {% else %}
                    <p>No projects are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
