
{% extends "ncharts/base.html" %}

{% block title %}NCharts Home{% endblock %}

{% block headline %}Select a Project or Platform{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <p>Projects</p>
            {% if projects %}
                {% for project in projects %}
                    <a class="btn btn-default" href={% url 'ncharts:project' project.name %}>{{ project.name }}</a>
                {% endfor %}
            {% else %}
                <p>No projects are available.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
            <p>Platforms</p>
            {% if platforms %}
                {% for platform in platforms %}
                    <a class="btn btn-default" href={% url 'ncharts:platform' platform.name %}>{{ platform.name }}</a>
                {% endfor %}
            {% else %}
                <p>No platforms are available.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
