{% extends "ncharts/base.html" %}

{% block title %}Help{% endblock %}

{% block headline %}NCharts Help{% endblock %}

{% block content %}

NCharts is intended to be a quick-look display of a wide variety of data, not a tool for detailed analysis. The plot options will be limited to keep things simple and usable across a variety of display sizes.

NCharts uses the Highcharts.com javascript plotting library which has some nice features for zooming and displaying point values.

<h4>Introduction</h4>
To plot a set of variables over a period of time:
<ol>
    <li>Choose a <b>Start Time</b> or the <b>Track Real Time</b> option</li>
    <li>Select a <b>Time Zone</b></li>
    <li>Select a time <b>Length</b> with units</li>
    <li>Select one or more <b>Variables</b></li>
    <li>Hit <b>Plot</b></li>
</ol>
When the plot is ready the screen will scroll down to display the plot.
<ul>
    <li>The <b>Track Real Time</b> option is only enabled for projects that are on-going. If the option is selected, your browser will poll the server for real-time updates.</li>
    <li>If <b>Track Real Time</b> is not selected, use <b>Back</b> or <b>Forward</b> to page back or forward in time.</li>
    <li>When a <b>Time Zone</b> is selected, the <b>Start Time</b> will be adjusted to indicate the same moment in time. The time labels on the plot will be in the selected time zone.</li>
    <li>After changing a selection of variables, time or time zone, hit <b>Plot</b> to update the plot, as it is not automatically updated when a selection is made.</li>
    <li>To plot more than one dataset, open separate browser windows or tabs.</li>
</ul>

<h4>Time Series</h4>
<ul>
    <li>1-D Time Series Traces</li>
    <ul>
        <li>All selected variables with the same units will be plotted together.</li>
        <li>The sequence of plots is alphabetical by the name of the first variable in the plot.</li>
        <li>For all variables with the same units, the sequence in the legend will be alphabetical, by name.</li>
        <li>Click on a variable name in the legend at the top of a plot to toggle the visibility of the trace, and dynamically rescale the remaining traces.</li>
        <li>With a mouse, drag a rectangle on the plot to zoom in X and Y. Hit <b>Reset Zoom</b> to zoom back out.</li>
        <li>Use the sliders on the navigator trace below the chart to zoom in, and drag the selection to pan back and forth in time</li>
        <li>On phones, the navigator trace is not displayed. You can use a two-finger spread and pinch gesture to zoom in and out.</li>
    </ul>
</ul>

If a time series variable has a additional dimension, such as height or bin number, a color-coded heatmap time series will be plotted, with an associated color key.
<ul>
    <li>Heatmap Time Series</li>
    <ul>
        <li>The heatmap plots will be in alphabetical order, by variable name.</li>
        <li>To zoom in time and Y, drag a rectangle across the plot. A <b>Reset zoom</b> button will appear in the top right to zoom back out.</li>
        <li>The Y axis is the dimension index of the observations. If plotting a time-vs-height variable from a wind profiler, refer to the <b>height</b> variable to determine the height of the observation.</li>
    </ul>

</ul>
With a mouse, hover over the plot to display the point values. On phones, tap a trace to highlight it, then tap again to display the point values.

<h4>Sounding Profiles</h4>
<ul>
    <li>When a <b>Start Time</b> and time <b>Length</b> are selected, the available soundings for that period are shown  by their launch time in UTC.</li>
    <li>Choose one or more soundings, one or more X axis variables and a Y axis variable, typically <b>alt</b> or <b>gpsalt</b>.  A profile will be plotted for each sounding selected.</li>
    <li>Currently 1000 points are plotted for each sounding.</li>
    <li>If the sonde reverses vertical direction, those points will not be shown.</li>
    <li>Click on a variable name in the legend at the bottom of a plot to toggle the visibility of a trace, and dynamically rescale the remaining traces.</li>
    <li>To zoom in X and Y, drag a rectangle on the plot with your mouse. A <b>Reset zoom</b> button will appear in the top right to zoom back out.</li>
</ul>

<h4>Real-time Updates</h4>
<ul>
    <li>To plot data as they arrive in near real-time, check <b>Track Real Time</b>, and select a time length for the plot. You do not need to enter a start time.</li>
    <li>This option is only enabled for projects that are on-going, and is not
currently supported for soundings.</li>
    <li>Your browser will poll the server for new data, at a time interval equal to 1/2 the average time delta of the data, but not more frequently than every 10 seconds. The display will scroll down and and the start time will be updated when new data arrives.</li>
    <li>Real-time updates will fill in missing data for each variable back to the time of the previous non-missing value. If values previous to that time were updated by data processing, they will not be updated in the Ncharts display. Click on the Plot button to do a complete refresh.</li>
</ul>

<h4>Printing</h4>
<ul>
    <li>The "hamburger" icon at the top right of each plot is a print menu.</li>
    <li>Select <b>Print chart</b> to print on your local system, which may give you the option to plot to a PDF or PNG file.</li>
    <li>If you select one of the <b>Download</b> options, the plot will be sent to a Highcharts server for rendering and then made available for download. If the Highcharts servers are overloaded, a blank screen may result, in which case, try again later.</li>
</ul>

<h4>Bugs and Idiosyncracies</h4>
<ul>
    <li>This software is in development, and the server may be restarted quite frequently, which can cause real-time-updates to cease on your browser. If your plot is unresponsive, do a page reload, for which F5 is a common shortcut. If that does not help, click on the "NCharts" link at the top of the page, and then re-select your project and dataset.</li>
    <li>Response will be slow if you ask for a large quantity of data. Data reduction and compression are not supported.</li>
    <li>Response of heatmap plots will be slower for variables with large dimensions. Choose a shorter period of time to improve the response, especially when plotting real-time data.
    <li>Plots do not appear on the stock Android browser on phones. Use Chrome instead.</li>
    <li>On phones, enabling screen rotation, and plotting in horizontal mode will generally provide more readable plots.
    <li>To scroll on phones, swipe on the right or left side to activate a small scrollbar.</li>
    <li>If you return to plot a previous dataset, you may have to do a browser refresh to see the variables and time you selected previously.</li>
</ul>

{% endblock %}
