{% extends "ncharts/base.html" %}

{% block title %}{{ platform.name }} {{ project.name }}{% endblock %}

{% block headline %}Platform: {{ platform }}, Project: <a href="{% url 'ncharts:project' project.name %}">{{ project.name }}</a>{% endblock %}


{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <p>Select a Dataset from {{ project.name }}</p>
            </div>
            <div class="panel-body">
            {% if datasets %}
	    <ul class="list-inline">
                {% for dataset in datasets %}
                    <li><a href="{% url 'ncharts:dataset' project.name dataset.name %}" data-toggle="tooltip" title="{{ dataset.long_name }}">{{ dataset.name }}</a></li>
                {% endfor %}
	    </ul>
            {% else %}
            <p>No datasets for platform {{ platform.name }}, project {{ project.name }}.</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}
